<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/Imagenes/favicon.ico.ico">
    <title>Mi Carrito</title>
</head>
<!--------Header------------------->
<%- include("partials/header"); %>

<!--------Carrito------------------->

<section class="compras">
<div class="compras-encabezado" >
    <ul >
        <li class="encabezado-producto">Producto</li>
        <li class="encabezado-precio">Precio</li>
        <li class="encabezado-cantidad">Cantidad</li>
        <li class="encabezado-total">Total</li>
    </ul>
</div>

 <div class="compras-productos">
     <ul class="lista-productos">
         <li>Producto 1</li>
         <li>Producto 2</li>
         <li>Producto 3</li>
     </ul>
     <ul class="lista-precios">
         <li>$5.000</li>
         <li>$300</li>
         <li>$1.000</li>
     </ul>
     <ul class="lista-cantidad">
        <li>1</li>
        <li>4</li>
        <li>1</li>
    </ul>
    <ul class="lista-totales">
        <li>$5.000</li>
        <li>$1.200</li>
        <li>$1.000</li>
        <li class="total">$7.200</li>
    </ul>
</div>


</section>


<article class="container-pago">
 
  <div class="forma-pago">
    <h3>Forma de Pago</h3>
    <label><input type="radio" name="Forma de Pago"  value="Tarjeta de Crédito">Tarjeta de Crédito</label><br>
    <label><input type="radio" name="Forma de Pago"  value="Efectivo">Efectivo</label>
  </div>

  

  <div class="forma-envio" >
    <h3>Forma de Envío</h3>
    <label><input type="radio" name="Forma de Envio"  value="Retira Sucursal">Retira Sucursal</label><br>
    <label><input type="radio" name="Forma de Envio"  value="Envío a Domicilio">Envío a Domicilio</label>

  </div>

</article>

  <div class="container-boton-finalizar">
    <input class="boton-finalizar" type="submit" value="Finalizar Compra">
       
  </div>

  <!--------Footer------------------->

  <%- include("partials/footer"); %>





<body>
    
</body>
</html>