<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register-styles.css">
    <title>Login</title>
</head>
<body>
<!--------Header------------------->
<%- include("partials/header"); %>
<!--------Formulario------------------->
  <section class="form-register">
    <h4>¡Hola! Ingresá tu  usuario</h4>
    <div>
      <% if (typeof errors != "undefined") { %>
          <ul>
              <% for (let i =0; i < errors.length; i++) { %>
                <li>
                    <%=errors[i].msg%>
                </li>
              <% } %>
            </ul>
      <% } %>

    </div>  


    <form action="" method="POST" >
      
    <input class="controls" type="text" name="usuario" id="nombres" placeholder="Ingrese su Usuario" >
    <input class="controls" type="password" name="password" id="nombres" placeholder="Ingrese su Contraseña">
    <input type="checkbox" name="recordar">
    <label for="">Recordame</label>
  
    <input class="boton" type="submit" value="Ingresar">
  </form>
</section>
<!--------Footer------------------->
<%- include("partials/footer"); %>

    
</body>
</html>