<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/Imagenes/favicon.ico.ico">
    <title>Mi Perfil</title>
</head>
<!--------Header------------------->
<%- include("partials/header"); %>

<!--------Carrito------------------->

<section class="compras">
<div class="compras-encabezado" >
    <ul >
        <li class="encabezado-producto">Hola! <%= locals.user.name %></li>
</div>

 <div class="compras-productos">
     <img src="/avatar/<%=locals.user.avatar%>" width="200" height="200" >

     <ul class="ultimas-compras">Tus ultimas compras
        
        <li>Ultimo Producto</li>
        <li>Ante Ultimo Producto</li>
    </ul>
     
</div>


</section>






  <!--------Footer------------------->

  <%- include("partials/footer"); %>





<body>
    
</body>
</html>