<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productsStyles.css">
    <title>Mega Red</title>
</head>
<body>
<!--------Header------------------->
<%- include("partials/header"); %>

<!--------products------------------->


<section class="container-novedades">
  <article class="producto">
      <a href="#">
      <div class="photo-container">
       <img class="photo" src="/Imagenes/Ghost of Tsushima.jpg" alt="Notebook Asus Intel Core I5">
       <div class="preventa-datos">
       <h2>$6.999</h2>
    </div>
      </div>

   </a>
  </article>
  
  <article class="producto">
   <a href="#">
   <div class="photo-container">
    <img class="photo" src="/Imagenes/Assassin´s Valhalla.jpg" alt="Notebook Asus Intel Core I5">
   
   <div class="preventa-datos">
    <h2>$7.499</h2>
</div>
 </div>
</a>
</article>
<article class="producto">
   <a href="#">
   <div class="photo-container">
    <img class="photo" src="/Imagenes/The Last 2.jpg" alt="Notebook Asus Intel Core I5">
 
   <div class="preventa-datos">
    <h2>$6.999</h2>
</div>
 </div>
   
</a>
</article>
<article class="producto">
   <a href="#">
   <div class="photo-container">
    <img class="photo" src="/Imagenes/Ciberpunk.jpg" alt="Notebook Asus Intel Core I5">
   
   <div class="preventa-datos">
    <h2>$6.999</h2>
 </div>
</div>
</a>
</article>
</a>
</article>
<article class="producto">
   <a href="#">
   <div class="photo-container">
    <img class="photo" src="/Imagenes/Ciberpunk.jpg" alt="Notebook Asus Intel Core I5">
   
   <div class="preventa-datos">
    <h2>$6.999</h2>
 </div>
</div>
</a>
</article>
</a>
</article>
<article class="producto">
   <a href="#">
   <div class="photo-container">
    <img class="photo" src="/Imagenes/Ciberpunk.jpg" alt="Notebook Asus Intel Core I5">
   
   <div class="preventa-datos">
    <h2>$6.999</h2>
 </div>
</div>
</a>
</article>

</section>

<%- include("partials/footer"); %>
    
</body>
</html>