<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register-styles.css">
    <script src="https://kit.fontawesome.com/9552adc6e4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<!--------Header------------------->
<header class="header">
    <div class="container">
       <a href="#"><img class="logo" src="/Imagenes/logo2.png"></a>
       <form action="" class="buscador">
           <input type="text" placeholder="Busca tu producto..." id="barra">
           <input id="s-boton" type="button" value="Ir">
       </form>
        <nav class="navegation">
            <ul>
              <li><a href="#">Login</a></li>
              <li><a href="#">Registrate</a></li>
              <li><a href="#">Mis Compras</a></li>

            </ul>
        </nav>  
       </div>
  </header>
<!--------Formulario------------------->

<section class="form-register">
    <h4>Formulario de Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="nombres" id="nombres" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="nombres" id="nombres" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
    <input class="boton" type="submit" value="Registrarse">
    <p><a href="#">¿Ya tenes cuenta?</a></p>
</section>
  <!--------Footer------------------->
  <footer>
    <section class="footer-container">
        <article class="footer-main">
            <div class="footer-columnaA">
                <h3>Suscribete</h3>
                <input class="suscribite" type="email" placeholder="Escribe tu Correo">
                <input class="b-suscribite" type="submit" value="Suscribirse">
            </div>
            <div class="footer-columnaB">
                <h3>Dirección</h3>
                <i class="fas fa-map-marked-alt"><p>222 Av. Desconocida - CABA</p></i><br>
                <i class="fas fa-phone"><p>(+54) 4276-2214</p></i><br>
                <i class="fas fa-envelope"><p>info@megared.com.ar</p></i><br>                
            </div>
            <div class="footer-redes">
                <h3>Encontranos en</h3>
             <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
             <a href="#" class="twitter"><i class="fab fa-twitter-square"></i></a>
             <a href="#" class="instagram"><i class="fab fa-instagram-square"></i>
         </div>

        </article>
    </section>
 </footer>

<body>
    
</body>
</html>