<header class="header">
    <div class="container">
       <a href="login.html"><img class="logo" src="/Imagenes/logo2.png"></a>
       <form action="/products" method="GET" class="buscador">
           <input type="text" placeholder="Busca tu producto..." id="barra" name="busqueda">
           <input id="s-boton" type="submit" value="Ir">
       </form>
        <nav class="navegation">
            <ul>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Registrate</a></li>
              <li><a href="carritoCompras.html">Mis Compras</a></li>

            </ul>
        </nav>  
       </div>
  </header>